[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
markovify = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "==19.10b0"

[requires]
python_version = "3.8"
